{{> header }}
<div class="container">

    <div class="page-header">
        <h1><a href="{{ url }}">{{ project }}</a></h1>
    </div>

    <h2>Response <code>{{ response }}</code></h2>

    {{& description }}

    {{> structure }}

</div>
{{> footer }}
